
<h1 class="page-title"><a href="https://pages.18f.gov/ED-Developer-Hub/">ED API docs</a></h1>
      <p class="intro">Making the agency accessible to developers</p>
    <nav>    
        <ul>
          <li><a href="https://pages.18f.gov/ED-Developer-Hub/" class="overview">Overview</a></li>
          <li><a href="basics/" class="basics">API basics</a></li>
          <li><a href="gallery/" class="basics">App Gallery</a></li>
          <li><a href="other-resources/" class="queries">Other Resources</a></li>
        </ul>
    </nav>
