
<h1 class="page-title"><a href="{{ site.baseurl }}">ED API docs</a></h1>
      <p class="intro">Making the agency accessible to developers</p>
    <nav>    
        <ul>
          <li><a href="{{ site.baseurl }}" class="overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/basics/" class="basics">API Directory</a></li>
          <li><a href="{{ site.baseurl }}/details/" class="basics">Interactive Documentation</a></li>
          <li><a href="{{ site.baseurl }}/api-key/" class="basics">API Keys</a></li>
          <li><a href="{{ site.baseurl }}/gallery/" class="basics">App Gallery</a></li>
          <li><a href="https://github.com/18F/ED-Developer-Hub/issues" class="queries">Feedback</a></li>
          <li><a href="{{ site.baseurl }}/contact/" class="basics">Get In Touch</a></li>
        </ul>
    </nav>
